.btn{
    width: 100%;
    aspect-ratio: 1;
    border: 2px solid white;
    text-transform: uppercase;
    font-size: 2.5em;
    padding: .5rem;
    font-weight: bold;
    cursor: pointer;
}

.btn.active{
    color: white;
    background-color: blue;
    
}

.btn.inactive{
    opacity: 0.3;
}

.btn:hover:not(:disabled),
.btn:focus{
    color: white;
    background-color: blue;
    border: 4px solid white;
}